﻿@model Test.Models.CategoryListViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>
<p>
    @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <td>
            Category Id
        </td>
        <td>
            Category Name
        </td>
        <td></td>
    </tr>

    @foreach (var item in Model.categoryVms)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
            </td>
        </tr>
    }
</table>

    <table class="table">
        <tr>

            @for (int i = 0; i < Model.maxrows; i++)
            {
                <a href="~/Category/index?Page=@i">@i</a>
                <span> | </span>
            }

        </tr>

    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
