﻿@model Test.Models.ProductListViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            Product Id
        </td>
        <td>
            Product Name
        </td>
        <td>
            Category Id
        </td>
        <td>
            Category Name
        </td>
        <td></td>
    </tr>

    @foreach (var item in Model.productVms)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>

        @for (int i = 0; i < Model.maxrows; i++)
            {
            <a href="~/Product/index?Page=@i">@i</a>
            <span> | </span>
        }

    </tr>
</table>



